# Standard python ignored files:
*.pyc

# Coverage related files:
.coverage
htmlcov

# Pytest related files:
.pytest_cache

# Serverless related files:
.serverless/
node_modules/

# Config related files:
environment.sh
